section#about
  h1.title 关于 sucklessInfo
  .qrcode: img(src='http://sucklessinfo.b0.upaiyun.com/2/0-t.jpg')
  .about-text
    p sucklessInfo 是 <a href="http://www.undozen.com">@undoZen</a> 个人运营的微信公共账号（微信 id: sucklessinfo）
    p 账号会坚持每天推送一条消息，内容主要针对个人面对信息爆炸时代的反思。
    p 这里仅作为过往文章的存档。不接受评论。您可以关注微信账号后给我发送消息，也可以直接给我写邮件：undozen [at] gmail.com（别忘了把 [at] 换成相应符号）
    p 除特别声明外，本站的文章使用《知识共享协议：署名-非商业使用-禁止演绎》开放部分版权